<ul class="social-media-list">
  <li><a href="https://t.me/cyanprism"><img src="{{ '/assets/t_logo.png' | relative_url }}" width="20px"> <span class="username">cyanprism</span></a></li>
  <li><a href="https://www.researchgate.net/profile/Stepan_Alexandrov"><img src="{{ '/assets/rg_logo.png' | relative_url }}" width="20px"> <span class="username">Stepan Alexandrov</span></a></li>
  <li><a href="https://scholar.google.com/citations?user=i3YntWMAAAAJ&hl=en"><img src="{{ '/assets/scholar_logo' | relative_url }}" width="20px"> <span class="username">Stepan Alexandrov</span></a></li>
</ul>
